/**
 * Remote Gallery
 * (c) Ferimer, servicios informaticos, 2013 - All rights reserved
 * License: GNU Affero V3 (see LICENSE file)
 * Fernando Rodríguez Sela <fernando@ferimer.es>
 */

h1 {
  margin: 10px 0;
}
select {
/*  width: 100%;
  height: 40px;*/
}

#index {
  height: 100%;
}

.page {
  display: none;
}

.page.visible {
  display: block;
}

section.content {
  padding: 0 !important;
}
.nophoto {
  padding: 0px 3rem 1.5rem;
}

#about_page {
  text-align: center;
}
#about_page button {
  margin-top: 10px;
}
#ferimer_logo {
  margin: 50px auto 0 auto;
}
#ferimer_logo img {
  display: block;
  margin: 10px auto 0 auto;
  width: 50%;
}

#license_page > pre {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  text-align: justify;
}

